[submodule "src/hyperlight_host/tests_capi/munit"]
	path = src/hyperlight_host/tests_capi/munit
	url = https://github.com/nemequ/munit.git
[submodule "src/HyperlightGuest/third_party/printf"]
	path = src/HyperlightGuest/third_party/printf
	url = https://github.com/mpaland/printf.git
